html
  head
    title= title
  body
    h1= message
    form(method='get', action='dettaglio')
      each studente in list
        input(type='radio', name='studente', value=studente.ID) 
        | #{studente.cognome} #{studente.nome} 
        br
      input(type='submit', value='invia')

