html
  head
    title= title
  body
    h1= message
    form(method='get', action='dettaglio')
      select(name='studente')
        each studente in list
          option(value=studente.ID) #{studente.cognome} #{studente.nome} 
      br
      input(type='submit', value='invia')

